.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line {
  display: flex;
  gap: 5px;
}

.tile {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.correct {
  background-color: green;
}

.close {
  background-color: yellow;
}

.incorrect {
  background-color: lightgray;
}